doctype html
html
  head
    title= "Test"
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(rel='text/javascript', src='/javascripts/bootstrap.min.js', defer)
  body
    block content
