<div id="create-report" v-cloak>
    <account-notification-banner></account-notification-banner>
    <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">Generar informe</h1>
    <div style="max-width:  650px;" class="mx-auto" v-if="!cloudSuccess">
      <hr/>
      <ajax-form action="createReport" :form-errors.sync="formErrors" :form-data="formData" :form-rules="formRules" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm($event)">
        <div class="form-group">
          <label for="min-date">Fecha de inicio</label>
          <input value="2021-02-06T08:49" class="form-control" id="min-date" name="min-date" type="datetime-local"  :class="[formErrors.minDate ? 'is-invalid' : '']" v-model.trim="formData.minDate" placeholder="Sturgis P. Sturgeon" autocomplete="name" focus-first>
          <div class="invalid-feedback" v-if="formErrors.minDate">Indica una fecha correcta de inicio.</div>
        </div>
        <div class="form-group">
          <label for="max-date">Fecha de fin</label>
          <input value="2021-02-06T09:49" class="form-control" id="max-date" name="max-date" type="datetime-local"  :class="[formErrors.maxDate ? 'is-invalid' : '']" v-model.trim="formData.maxDate" placeholder="sturgeon@example.com" autocomplete="email">
          <div class="invalid-feedback" v-if="formErrors.maxDate">Indica una fecha correcta de fin.</div>
        </div>
        <cloud-error v-if="cloudError"></cloud-error>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Generar</ajax-button>
        </div>
      </ajax-form>
    </div>
    <div style="max-width:  650px;" class="mx-auto" v-else>
        Informe generado, puedes descargarlo desde <a v-bind:href="fileName">aquí</a>.
        <small>Ten en cuenta que los informes (de momento) no se borran. Puedes guardar la url si quieres descargarlo más tarde.</small>
        <hr/>
    </div>
  </div>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
