<div id="report-created" v-cloak>
    <account-notification-banner></account-notification-banner>
    <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">Descargar informe</h1>
    <div style="max-width:  650px;" class="mx-auto" v-if="ok">
      <hr/>
      <div>
        <p>El informe debería descargarse en unos segundos. Si no sucede, puedes hacer click <a v-bind:href="fileName">aquí</a>.</p>
      </div>
    </div>
    <div style="max-width: 450px;" class="mx-auto text-center" v-else>
      <p class="text-center alert-danger">Ha habido un error</p>
      <hr/>
      <p>Se ha producido un error generando el informe. Inténtalo de nuevo o contacta con Enrique.</p>
    </div>
  </div>

  <p>(See also <em>assets/styles/pages/reports/report-created.less</em>, <em>assets/js/pages/reports/report-created.page.js</em>, and <em>api/controllers/reports/view-report-created.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
