<div id="reports" v-cloak>
    <account-notification-banner></account-notification-banner>
    <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">Listado de informes</h1>
    <div style="max-width:  650px;" class="mx-auto" v-if="reports.length > 0">
      <hr/>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Desde
                </th>
                <th>
                    Hasta
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Acciones
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="report in reports" :key="report.id">
                <td>
                    {{ report.id }}
                </td>
                <td>
                    {{ report.minDate }}
                </td>
                <td>
                    {{ report.maxDate }}
                </td>
                <td>
                    <span class="badge badge-success" v-if="report.completed">
                        Completado
                    </span>
                    <span class="badge badge-danger" v-else-if="report.errored">
                        Error
                    </span>
                    <span class="badge badge-info" v-else>
                        En curso
                    </span>
                </td>
                <td class="d-flex justify-content-around" v-if="report.completed">
                    <i @click="downloadReport(report.filePath)" class="fas fa-file-download link fa-lg" data-bs-toggle="tooltip" title="Descargar informe"></i>
                    <i @click="deleteReport(report.id)" class="fas fa-trash-alt link fa-lg" data-bs-toggle="tooltip" title="Borrar informe"></i>
                </td>
                <td class="d-flex justify-content-around" v-else>
                    <i @click="stopReport(report.id)" class="fas fa-stop-circle link fa-lg" data-bs-toggle="tooltip" title="Cancelar informe"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="max-width:  650px;" class="mx-auto" v-else>
        No hay informes
        <hr/>
    </div>

  </div>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
