<div id="create-report">
  <account-notification-banner></account-notification-banner>
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">Generar un informe</h1>
    <div style="max-width: 450px;" class="mx-auto">
      <hr/>
      <ajax-form action="create-report" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
        <div class="form-group">
          <input type="datetime-local" class="form-control" placeholder="Fecha de inicio" :class="[formErrors.minDate ? 'is-invalid' : '']" v-model.trim="formData.minDate" focus-first required>
          <div class="invalid-feedback" v-if="formErrors.minDate">Elige la fecha de inicio del informe.</div>
        </div>
        <div class="form-group">
          <input type="datetime-local" class="form-control" placeholder="Fecha de fin" :class="[formErrors.maxDate ? 'is-invalid' : '']" v-model.trim="formData.maxDate" required>
          <div class="invalid-feedback" v-if="formErrors.maxDate">Elige la fecha de final del informe.</div>
        </div>
        <div class="form-group">
          <ajax-button :syncing="syncing" class="btn-dark btn-lg btn-block">Generar informe</ajax-button>
        </div>
      </ajax-form>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
