<div id="dashboard">
  <account-notification-banner></account-notification-banner>
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">Panel</h1>
    <div style="max-width: 450px;" class="mx-auto">
      <hr/>
      <ul>
        <li><a href="reports">Lista de informes</a></li>
        <li><a href="reports/create">Generar informe</a></li>
      </ul>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
