<div id="dashboard">
  <account-notification-banner></account-notification-banner>
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">Panel</h1>
    <div class="mx-auto col-6">
      <hr/>
      <div class="container">
        <div class="row">
          <div class="col-3">
            <a href="reports" class="btn btn-dark d-flex flex-column">
              <i class="fas fa-clipboard-list fa-5x"></i>
              <span class="small mt-2">Lista de informes</span>
            </a>
          </div>
          <div class="col-3">
            <a href="reports/create" class="btn btn-dark d-flex flex-column">
              <i class="fas fa-notes-medical fa-5x"></i>
              <span class="small mt-2">Generar informe</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
