<div id="dashboard">
  <account-notification-banner></account-notification-banner>
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">Panel</h1>
    <div style="max-width: 450px;" class="mx-auto">
      <hr/>
      <a href="dashboard/create-report">Uno</a>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
